$standard-font: 'Noto Sans', sans-serif;

$background-color: #3bceac;
$primary-color: #F0F0F0;
$color-dark: #606060;

$color-green: #0ead69;
$color-yellow: #ffd23f;
$color-magenta: #ee4266;
$color-violet: #540d6e;

$nav-height: 80px;